body {
   margin: 0;
   box-sizing: border-box;
}

.container {
   max-width: 1300px;
   margin:  0 auto;
   padding: 20px;
}

.header {
   background-color: #E5E3E4;
}

.header__container {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   gap: 20px;
}

.btn {
   padding: 15px;
   background-color: #222;
   color: #fff;
   font-size: 16px;
   border: none;
   border-radius: 10px;
   font-weight: 700;
}
.btn:hover {
   background-color: rgb(74, 73, 73);
   cursor: pointer;
}
.header__content {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 50px;
   flex-wrap: wrap;
}
.header__text {
   font-size: 40px;
   font-weight: 700;
}
   
.items {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
}

.item {
   display: flex;
   flex: 0 0 25%;
   flex-direction: column;
   text-align: center;
   gap: 10px;
   padding: 35px 0px;
   box-shadow: -2px 5px 20px 1px rgba(134, 169, 196, 0.4);
   border-radius: 15px;
}

.item__img img {
  border-radius: 15px;
  width: 300px;
  height: 300px;
}

.info__cat {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5px;
}

.info__name-id {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   font-size: 25px;
   font-weight: 700;
}
              
.modal__container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   position: fixed;
   z-index: 20;
   background-color: rgba(0, 0, 0, .7);
}

.modal__add {
  background-color:#fff;
  border-radius: 15px;
  padding: 40px;
  position: relative;
}

.modal__add-data {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 15px;
}

.hidden__modal {
   display: none;
}

.modal__show {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   background-color:#fff;
   border-radius: 15px;
   padding: 30px;
}
.modal__description {
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.pharam {
   display: flex;
   gap: 20px;
   padding-top: 20px;
}

.cat__description {
   max-width: 300px;
   padding-top: 20px;
}
textarea {
   resize: vertical;
   overflow-y: scroll;
   width: 170px;
}

.modal__img {
   background-image: url('./img/cross1.png');
   background-repeat: no-repeat;
   width: 20px;
   height: 20px;
   padding: 3px;
   top: 0;
   left: 0;
}

.modal__img:hover {
   cursor: pointer;
}

.modal__img-add {
   background-image: url('./img/cross1.png');
   background-repeat: no-repeat;
   width: 20px;
   height: 20px;
   padding: 3px;
   position: absolute;
   top: 10px;
   right: 10px;
}

.modal__img-add:hover {
   cursor: pointer;
}

.footer {
   background-color: #E5E3E4;
}

.about {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   padding: 20px;
}

.about a {
   color: inherit;
}

.about a:hover {
   cursor: pointer;
   color: #ef3330;
}

.edit__cat {
   background-color: #eca31a;
   border: none;
   padding: 10px;
   border-radius: 5px;
   color: #F9F7F2;
   font-weight: 700;
}

.edit__cat:hover {
   cursor: pointer;
   background-color: #f4c060;
}

.delete__cat {
   background-color: #ef3330;
   border: none;
   padding: 10px;
   border-radius: 5px;
   color: #fff;
   font-weight: 700;
}

.delete__cat:hover {
   cursor: pointer;
   background-color: #FD5D5B;
}

.favorite__container {
   display: flex;
   justify-content: center;
   gap: 5px;
   padding: 5px;
   align-items: center;
}
.cat__favorite-like {
   background-image: url('./img/like.png');
   background-repeat: no-repeat;
   width: 3px;
   height: 3px;
   padding: 20px;
   align-items: center;
}

.cat__favorite-unlike {
   background-image: url('./img/unlike.png');
   background-repeat: no-repeat;
   width: 3px;
   height: 3px;
   padding: 20px;
   align-items: center;
}
